/* Variables */




/* Glyphs */
$font_glyphs: 'icomoon';

$icon_home: "\e002";
$icon_compass: "\e0f9";
$icon_share: "\e47b";
$icon_check: "\e368";
$icon_xmark: "\e366";
$icon_trash: "\e250";
$icon_menu: "\e29d";
$icon_plus: "\e376";
$icon_nw: "\e3d0";
$icon_n: "\e3d1";
$icon_ne: "\e3d2";
$icon_e: "\e3d3";
$icon_se: "\e3d4";
$icon_s: "\e3d5";
$icon_sw: "\e3d6";
$icon_w: "\e3d7";
$icon_dest: "\e405";

@mixin icon ($content) {
	font-family: $font_glyphs;
	content: $content;
}


// Replaces text with an icon
@mixin iconReplace($iconSize, $content) {
    position: relative;
    display: block;
    margin: 0;
    padding: 0 0 0 ($iconSize*1.3);
    width: ($iconSize*1.3);
    height: ($iconSize*1.3);
    text-indent: 100%;
    overflow: hidden;
    text-decoration: none;
    line-height: $iconSize;

    &:before {
        position: absolute;
        top: 50%;
        margin-top: -($iconSize/2);
        left: 50%;
        margin-left: -($iconSize/2);
        display: block;
        width: $iconSize;
        height: $iconSize;
        content: $content;
        font-family: $font_glyphs;
        font-size: $iconSize;
        text-indent: 0;
    }
}


/* Responsive */
$size_small_max: 620px;
$size_medium_max: 780px;
$size_large_max: 1120px;


@mixin size($size) {
    @if $size == largeonly {
        @media all and (min-width: $size_medium_max) and (max-width: $size_large_max) { @content; }
    }
	@else if $size == largeup {
        @media all and (min-width: $size_medium_max) { @content; }
    }
    @else if $size == mediumup {
        @media all and (min-width: $size_small_max) { @content; }
    }
    @else if $size == mediumonly {
        @media all and (min-width: $size_small_max) and (max-width: $size_medium_max) { @content; }
    }
    @else if $size == smallonly {
        @media all and (max-width: $size_small_max) { @content; }
    }
}

/* Custom */
@mixin cleanbutton {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
	border: none;
	border-radius: 0;
	border: solid 1px #ccc;
}


/* Utility */

@mixin clearhide {
    display:block;
    overflow:hidden;
    width:100%;
}


@mixin clear {
    &:after {
       content: "";
       display: table;
       clear: both;                  
    }
}

@mixin clean {
	padding: 0;
	margin: 0;
	list-style: none;
}

@mixin offsite {
    position:absolute;
    top:0;
    left:-9999px;
}

@mixin onsite {
    position: relative;
    top: 0;
    left: 0;
}