@import '_vars.scss';

/*
	font-family:"news cycle",arial,helvetica,sans-serif; 
*/

.container {
	max-width: 800px;
	margin: 0 auto;
}

body {
	font-family:"news cycle",arial,helvetica,sans-serif;
	background:url(../../images/dark_dotted.png);
	color: #999;
}

body.response {
	background:none;
	background-color: #fff;
	color: #333;
}

#layout {
	max-width: 1000%; 
	margin: 0px auto; 
	overflow: hidden;
}

#layout-ticket, #layout-switcher {
	-webkit-transition: .2s all ease;
	-moz-transition: .2s all ease;
	transition: .2s all ease; 
	width: 100%; 
}

#layout-ticket {
	position: relative;
	background-color: #F5F4DF;
	color: #000;
	float: left;
	margin-left: 0;
}

.view-switcher #layout-ticket {
	margin-left: -100%;
}



#layout-switcher {
	margin-right: -200%;
	float: left;
	
	.container {
		background-color: #fff;
		text-align: center;
	}
	
	h4 {
		text-align: center;
		color: #000;
		font-size: 2rem;
	}
	
	input {
		font-size: 2.5rem;
		width: 80px;
		padding: 5px;
	}
	
	.menu {
		@include clear;
		text-align: right;
		background-color: #6E8FBA;
		padding: 8px 25px;
		border-bottom: solid 1px #999;
		
		.close {
			@include iconReplace(2.3rem, $icon_xmark);
			float: right;
			color: #fff;
			
		}
	}	
}

#list-location {
	margin-top:25px;

	ul {
		margin-bottom:50px;
	}

	li {
		background-color: #fff;
		text-align: left;
		border-bottom: solid 1px #999;
		position: relative;
		
		a {
			display: block;
			text-decoration: none;
			padding: 5px 15px;
			color: #000;
			font-size: 2rem;
			
			small {
				display: block;
				color: #999;
				font-size: 1.5rem;
			}
		}

			
	}

}



.view-switcher #layout-switcher {
	margin-right: 0;
	width:100%;
}



body.active .nav { margin-right: 0; width:100%; }
	body.active .main_content { margin-left: -100%; }


#layout-header {
	background-color: #6E8FBA;
	border-bottom: solid 1px #333;
	color: #fff;
	
	h1 {
		font-weight: normal;
		padding: 10px 0 20px;
		text-align: center;	
	}
	
	.menu { 
		@include clear;
	}
	
	ul {
		@include clear;
		float: right;
		padding: 6px 15px;
	}
	
	li {
		float: left; 
		padding-left: 12px;
		
		.home {
			@include iconReplace(2.3rem, $icon_home);
			color: #fff;
			position: absolute;
			left: 15px;
		}
		
		.add {
			@include iconReplace(2.3rem, $icon_plus);
			color: #fff;
		}
		
		.menu {
			@include iconReplace(2.3rem, $icon_menu);
			color: #fff;
		}
	}

}

#flipper {
	@include clear;
	margin: 20px 0;

	li {
		float: left;
		text-align: center;
	}
	
	.station {
		width: 40%;
		
		.label {
			font-size: 1.3rem;
			color: #666;
		}
	}
	
	.icon {
		width: 20%;
		padding-top: 15px;
	}
	
	h2 {
		font-size: 5.5rem;
		line-height: 1em;
	}
	
	.icon span {
		@include iconReplace(5rem, $icon_dest);
	}
	
	.desc {
		font-size: 2rem;
	}
	
	.coords {
		font-size: 1.3rem;
		color: #999;
	}

}

#details {
	@include clear;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
	margin-top: 10px;
	padding: 0 15px;
	
	li {
		float: left;
	}
	
	
	.direction {
		width: 50%;
		border-right: solid 1px #999;
		
		.label:before {
			@include icon($icon_sw);
			padding-right: 5px;
		}
	}
	
	.days {
		width: 27%;
		border-right: solid 1px #999;
		padding-left: 3%;
		
		.label:before {
			@include icon($icon_check);
			padding-right: 5px;
		}
	}
	
	.distance {
		width: 17%;
		padding-left: 3%;
		
		.label:before {
			@include icon($icon_sw);
			padding-right: 5px;
		}
	}
	
	.label {
		font-size: 1.3rem;
		color: #666;
		padding-top:8px;
	}
	
	h3 {
		font-size: 2.5rem;
		line-height: 1em;
		padding-bottom: 20px;
	}
}


#layout-add {
	@include clear;
	background-color: #fff;
	text-align: center;

	.menu {
		@include clear;
		text-align: right;
		background-color: #6E8FBA;
		padding: 8px 25px;
		border-bottom: solid 1px #999;
		
		.close {
			@include iconReplace(2.3rem, $icon_xmark);
			float: right;
			color: #fff;
			
		}
	}
	
	#add-form {
		@include edge;
		text-align: center;
		padding-top:10px;
		padding-bottom: 40px;
		
		.row {
			padding:8px 0;
		}
		
		input, select {
			font-size: 2.5rem;
		}
		
		.coords {
			input {
				width: 49%;
			}
		}
		
		.landmark select {
			width: 100%;
		}
		
		.description input {
			width: 100%;
		}
		
		.submit input {
			width: 100%;
		}
	}
}



#layout-list {
	@include clear;
	background-color: #fff;

	.menu {
		@include clear;
		text-align: right;
		background-color: #6E8FBA;
		padding: 8px 25px;
		border-bottom: solid 1px #999;
		
		.close {
			@include iconReplace(2.3rem, $icon_xmark);
			float: right;
			color: #fff;
			
		}
	}
	
	table {
		font-size: 2rem;
		line-height: 1em;
	}
	
	tr {
		padding: 5px 0;
		
		&.rowtop td {
			border-top: solid 4px #000;
		}
		
		&.rowbottom td {
			color: #999;
			padding: 10px 5px;
			
			.landmark { width: 70%; }
			.coord { width: 15%; }
		}
	}
	
	td {
		line-height: 1em;
		color: #333;
		padding: 3px 5px;
		
		
	}
	
	.bottom {
		border-bottom: solid 1px #999;
	}
	
	.icon {
		border-left: solid 1px #999;
	}
	
	.name {
		font-size: 2.5rem;
		padding: 8px 3px;
	}
	
	.label {
		font-size: 1.3rem;
		color: #999;
		line-height: 1em;
	}
	
	.coord {
		text-align: right;
	}
	
	.delete {
		@include iconReplace(3.5rem, $icon_trash);
		color: #900;
		
	}	
}