@import '_vars.scss';

.startup .hide-startup,
.fullscreen .hide-fullscreen,
.app .hide-app,
.fullscreen.response .hide-response,
.fullscreen.menu .hide-menu { display: none; }

.frame {
	max-width: 800px;
	margin:0 auto;
}


#header {
	background-color: #000;
	color: #ccc;
	font-size: 1rem;
	font-weight: normal;
	padding: 8px;
	
	h1 {
		@include clean;
		
		
		&:before {
			@include icon($icon_map);
			font-weight: normal;
			padding-right: 10px;
		}
	}
}


.fullscreen.response {
	background-color: #333;
	color: #fff;
}

#listings {
	.row, .details {
		@include clear;
		margin-bottom: 15px;
	}
	
	.view {
		float: left;
		width: 10%;
	}
	
	.info {
		float: left;
		width: 90%;
	}
	
	.landmark, .xcoord, .zcoord {
		float: left;
	}
	
	.landmark { width: 60%; }
	.xcoord, .zcoord { width: 20%; }
	
}
	