/* Variables */
/* Glyphs */
/* Responsive */
/* Custom */
/* Utility */
/* line 7, ../sass/main.scss */
.startup .hide-startup,
.fullscreen .hide-fullscreen,
.app .hide-app,
.fullscreen.response .hide-response,
.fullscreen.menu .hide-menu {
  display: none;
}

/* line 9, ../sass/main.scss */
.frame {
  max-width: 800px;
  margin: 0 auto;
}

/* line 15, ../sass/main.scss */
#header {
  background-color: #000;
  color: #ccc;
  font-size: 1rem;
  font-weight: normal;
  padding: 8px;
}
/* line 22, ../sass/main.scss */
#header h1 {
  padding: 0;
  margin: 0;
}
/* line 26, ../sass/main.scss */
#header h1:before {
  font-family: "icomoon";
  content: "\e0fd";
  font-weight: normal;
  padding-right: 10px;
}

/* line 35, ../sass/main.scss */
.fullscreen.response {
  background-color: #333;
  color: #fff;
}

/* line 41, ../sass/main.scss */
#listings .row, #listings .details {
  margin-bottom: 15px;
}
/* line 74, ../sass/_vars.scss */
#listings .row:after, #listings .details:after {
  content: "";
  display: table;
  clear: both;
}
/* line 46, ../sass/main.scss */
#listings .view {
  float: left;
  width: 10%;
}
/* line 51, ../sass/main.scss */
#listings .info {
  float: left;
  width: 90%;
}
/* line 56, ../sass/main.scss */
#listings .landmark, #listings .xcoord, #listings .zcoord {
  float: left;
}
/* line 60, ../sass/main.scss */
#listings .landmark {
  width: 60%;
}
/* line 61, ../sass/main.scss */
#listings .xcoord, #listings .zcoord {
  width: 20%;
}
