/* Variables */
/* Glyphs */
/* Responsive */
/* Utility */
/* line 3, ../sass/main.scss */
#locations ul {
  padding: 0;
  margin: 0;
}
/* line 66, ../sass/_vars.scss */
#locations ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 7, ../sass/main.scss */
#locations ul li {
  padding: 0;
  margin: 0;
  float: left;
  list-style: none;
  padding-right: 5px;
}

/* line 15, ../sass/main.scss */
#readout {
  text-align: center;
  font-family: "news cycle",arial,helvetica,sans-serif;
  font-size: 2.4rem;
}
/* line 20, ../sass/main.scss */
#readout div.suffix {
  font-size: 2rem;
}
/* line 24, ../sass/main.scss */
#readout div.direction {
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: .8em;
}
